.fondo-azul{
    background-color: aquamarine;
}
.fondo-verde{
    background-color: rgb(3, 99, 67);
}
.fondo-amarillo{
    background-color: rgb(246, 240, 75);
}
.fondo-rojo{
    background-color: rgb(232, 37, 37);
}

